---
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Stack from "../components/Stack";

import { Icon } from "astro-icon";
import Post from "../components/Post.astro";

const body = await fetch("https://dev.to/api/articles/me", {
  headers: {
    "api-key": import.meta.env.DEV_TO_API_KEY,
  },
}).then((res) => res.json());

const posts: {
  title: string;
  coverImage: string;
  publishedAt: string;
  readingTimeMinutes: number;
  slug: string;
  tags: string[];
  id: number;
  url: string;
  views: number;
  positive: number;
  commentsCount: number;
}[] = [];

for (const post of body.slice(0, 5)) {
  posts.push({
    title: post.title,
    coverImage: post.cover_image,
    publishedAt: post.published_at,
    readingTimeMinutes: post.reading_time_minutes,
    slug: post.slug,
    tags: post.tag_list,
    id: post.id,
    url: post.canonical_url,
    views: post.page_views_count,
    positive: post.positive_reactions_count,
    commentsCount: post.comments_count,
  });
}
---

<html lang="en" class="h-full">
  <head>
    <MainHead />
  </head>
  <body
    class="bg-black text-slate-200 min-h-full flex flex-col selection:bg-cyan-700"
  >
    <Nav />
    <main class="flex-1 min-h-0">
      <section class="xl:px-36 border-b border-slate-200/40 px-5">
        <div
          class="xl:border-x border-slate-200/40 xl:pb-0 xl:pt-3.5 md:pt-6 md:pb-2 pt-8 pb-6"
        >
          <p
            class="font-display text-[4.5rem] md:text-[8rem] xl:text-[12rem] leading-none text-center"
          >
            I do Full Stack Development.
          </p>
        </div>
      </section>
      <section
        class="xl:px-36 space-y-5 md:space-y-0 flex-col md:flex-row px-5 md:px-9 flex md:justify-between align-center py-8 md:py-7 border-b border-slate-200/40 uppercase text-sm md:text-base"
      >
        <div class="flex items-center">
          <Icon
            class="text-slate-200/40 w-10 h-10 flex-shrink-0 md:w-8 md:h-8 lg:w-10 lg:h-10"
            pack="ph"
            name="globe-thin"
          />
          <div class="ml-3 md:ml-2">
            <p class="md:text-sm lg:text-base">Freelance</p>
            <p class="text-xs text-slate-200/50 md:text-[10px] lg:text-xs">
              Based in Spain
            </p>
          </div>
        </div>
        <div class="flex items-center">
          <Icon
            class="text-slate-200/40 w-10 h-10 flex-shrink-0 md:w-8 md:h-8 lg:w-10 lg:h-10"
            pack="ph"
            name="airplane-takeoff-thin"
          />
          <div class="ml-3 md:ml-2">
            <p class="md:text-sm lg:text-base">3+ years of experience</p>
            <p class="text-xs text-slate-200/50 md:text-[10px] lg:text-xs">
              Mainly in fast-paced environments
            </p>
          </div>
        </div>
        <div class="flex items-center">
          <Icon
            class="text-slate-200/40 w-10 h-10 flex-shrink-0 md:w-8 md:h-8 lg:w-10 lg:h-10"
            pack="ph"
            name="sketch-logo-thin"
          />
          <div class="ml-3 md:ml-2">
            <p class="md:text-sm lg:text-base">Focus on delivering value</p>
            <p class="text-xs text-slate-200/50 md:text-[10px] lg:text-xs">
              Ready to wear different hats
            </p>
          </div>
        </div>
      </section>
      <section class="md:px-16 px-5 xl:px-36 border-b border-slate-200/40">
        <div
          class="py-8 md:py-10 xl:border-x border-slate-200/40 xl:py-10 flex items-center justify-center"
        >
          <p
            class="xl:max-w-[50%] text-xl md:text-2xl xl:text-3xl text-slate-200/50 leading-snug"
          >
            Software should always be about <span class="text-slate-200/90"
              >solving problems.</span
            >
            <br />
            I'm a technical person but good understanding of other areas like business
            and design is essential for building <span class="text-slate-200/90"
              >great products.</span
            >
          </p>
        </div>
      </section>
      <section class="md:px-9 px-5 xl:px-36 border-b border-slate-200/40">
        <div
          class="py-8 md:py-10 xl:border-x border-slate-200/40 xl:py-10 flex flex-col md:flex-row justify-center"
        >
          <Stack client:visible />
          <div class="border-slate-200/40 md:border-l flex-1 md:pl-5 lg:px-5">
            <div class="flex justify-between items-center mt-12 md:mt-0">
              <h2 class="text-4xl font-display">My latest posts</h2>
              <a
                class="block text-sm text-slate-200/80 hover:opacity-80"
                href="http://dev.to/alexmenor"
                target="_blank"
                rel="noopener noreferrer"
                title="See all posts">See all</a
              >
            </div>

            <div class="space-y-6 mt-8">
              {posts.map((post) => <Post {...post} />)}
            </div>
          </div>
        </div>
      </section>
      <section class="md:px-16 px-5 xl:px-36 border-b border-slate-200/40">
        <div
          class="py-8 md:py-10 xl:border-x border-slate-200/40 xl:py-10 flex flex-col items-center justify-center"
        >
          <p class="text-xl md:text-2xl text-center md:max-w-lg text-slate-200">
            You have an idea to kickstart or an early project to accelerate?
          </p>
          <a
            title="Send me an email"
            class="mt-4 md:mt-5 block border border-slate-200/40 py-2 px-3 rounded md:text-lg bg-black hover:opacity-80"
            href="mailto:alex.menor@icloud.com">Let's talk</a
          >
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
